[class*='col-'] {
    float: left;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h3 {
    text-align: center; margin-bottom: 0;
}
[class*='col-'] {
    padding-right: 20px;
    padding-bottom: 20px;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}
.grid {
    margin: 0;
}
.col-1-4 {
    width: 25%;
}
.heroes-dashboard__button {
    background-color: initial;
    border: none;
    padding: none;
    border-radius: 0;
    cursor: pointer;
}
.module {
    font-size: 14px;
    max-height: 75px;
    padding: 20px;
    text-align: center;
    color: #eee;
    background-color: #607D8B;
    border-radius: 2px;
    min-width: 60px;
    display: block;
}
.module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}
.grid-pad {
    padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}
@media (min-width: 600px) {
    .module {
        max-height: 120px;
        font-size: 16px;
    }
}
@media (min-width: 1024px) {
    /*.grid {
        margin: 0;
    }*/
    .module {
        min-width: 120px;
    }
}