<h2>My Heroes</h2>
<button (click)="addHero()">Add New Hero</button>
<div class="modal--heroes" *ngIf="addingHero">
    <div class="modal--add-hero__bg"></div>
    <div class="modal--add-hero">
        <my-hero-detail (close)="close($event)"></my-hero-detail>
    </div>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes"
        (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero"><span class="badge">{{hero.id}}</span><span class="hero__name">{{hero.name}}</span><button class="heroes__delete-button" (click)="deleteHero(hero, $event)">Delete</button></li>
</ul>
<div class="error" *ngIf="error">{{error}}</div>
<div *ngIf="selectedHero">
    <h3 class="u-uppercase">
        <!--{{selectedHero.name | uppercase}} is my hero --> <!-- pipes version -->
        {{selectedHero.name}} is my hero
    </h3>
    <button (click)="gotoDetail()">View Details</button>
</div>
