label {
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;

    display: block;
}
input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}
input[readonly] {
    border: none;
    color: #888;
}
.go-back {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
}
.go-back:hover {
    background-color: #cfd8dc;
}
.go-back:disabled {
    background-color: #eee;
    color: #ccc; 
    cursor: auto;
}